<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Camera permission (you already had this - good!) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- ⬇️ ADD THESE TWO CAMERA FEATURES ⬇️ -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Summit">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EntrantActivity" />
        <activity android:name=".OrganizerActivity"/>
        <activity
            android:name=".qr.ScanQrActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".organizer.EntrantsListActivity"
            android:exported="false"
            android:label="Event Entrants" />

        <activity
            android:name=".organizer.RunLotteryActivity"
            android:exported="false"
            android:label="Run Lottery" />

    </application>

</manifest>